<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <title></title>
  <link rel="stylesheet" href="stylesheets/style.css"></style>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.min.js"></script>
</head>
<body>

<div class="container-fluid" id="app">
  <div class="row">
    <div class="col-sm-8">
      <div class="header">
        <h3>Game Table</h3>
      </div>
      <div class="input-group mb-3">
        <div class="form-control">{{getLowestScore}}</div>
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary" v-on:click="computeScores" v-on:keyup.enter="computeScores">Calculate</button>
        </div>
      </div>
      <div class="body container-fluid" id="gameTable">
        <div class="row">
          <div class="input-group">
            <div class="form-control col-name">Player name</div>
            <div class="form-control col-name">Total Score</div>
            <div class="form-control col-name">Current round score</div>
          </div>
        </div>
        <div class="row">
          <div class="gamer-row input-group" v-for="gamer in gamers" v-bind:class="{ playerBusted: gamer.isBusted }">
            <div class="gamer-name form-control">{{gamer.name}}</div>
            <div class="total-score form-control">{{gamer.totalScore}}</div>
              <input type="text" v-model="gamer.currentScore" class="form-control current-score" placeholder="current score" v-model="newMemberName">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="header">
        <h3>Add Member</h3>
      </div>
      <div class="body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="name" aria-label="Recipient's username" aria-describedby="basic-addon2" v-model="newMemberName">
                <div class="input-group-append">
                  <button type="button" class="btn btn-secondary" v-on:click="addMember" v-on:keyup.enter="addMember">Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

<style type="text/css">
.col-name{
  background-color: #e9ecef;
}

.header{
  text-align: center;
}

.playerBusted{
  text-decoration: line-through;
  border: 1px solid red;
}
</style>
<script type="text/javascript">
console.clear();
class Gamer {
  constructor(name) {
    this.name = name;
    this.currentScore;
    this.totalScore = 0;
    this.isBusted = false;
  }
}

var app = new Vue({
  el: "#app",
  data: {
    lowestScore: 0,
    gamers: [],
    newMemberName: "",
    bustedPlayers: new Set()
  },
  computed:{
    getLowestScore: function(){
      return this.lowestScore;
    }
  },
  methods: {
    addMember: function(event) {
      if(this.newMemberName === ''){
        return;
      }
      console.log(this.newMemberName);
      this.gamers.push(new Gamer(this.newMemberName));
      this.newMemberName = "";
    },
    computeScores: function() {
      let scores = this.gamers.map(gamer => gamer.currentScore);
      debugger;
      this.lowestScore = Math.min(...scores);
      this.gamers.forEach((gamer, index) => {
        if (!this.bustedPlayers.has(gamer.name)) {
          gamer.totalScore =
            gamer.totalScore + parseInt(gamer.currentScore) - this.lowestScore;
          gamer.currentScore = 0;
          if (gamer.totalScore > 100) {
            gamer.isBusted = true;
            this.bustedPlayers.add(gamer.name);
          }
        }
      });
      this.lowestScore='';
    }
  }
});
</script>
</html>

